# Ignorar los archivos temporales y de configuracion de Visual Studio
*.vs
*.user
*.suo
.vscode/
.vs/

# Ignorar los archivos binarios y otros archivos generados en la compilacion
*.dll
*.exe
*.pdb
*.cache

# Ignorar archivos de configuracion especificos
*.config

# Otros archivos especificos
CODEOWNERS

# Evita duplicados
.vs/SGFP/v17/.suo
*.txt
