
CapaEntidad/obj/Debug/CapaEntidad.csproj.CoreCompileInputs.cache
.vs/SGFP/FileContentIndex/32c01a97-6f0d-46f5-891f-55583b66fc1f.vsidx
.vs/SGFP/FileContentIndex/44c24670-9230-4e22-afb1-2d7b2e686dbf.vsidx
.vs/SGFP/FileContentIndex/44c24670-9230-4e22-afb1-2d7b2e686dbf.vsidx
.vs/SGFP/FileContentIndex/9cf4cea2-462e-4040-bcec-e4c4a55fa5b8.vsidx
.vs/SGFP/FileContentIndex/44c24670-9230-4e22-afb1-2d7b2e686dbf.vsidx
.vs/SGFP/FileContentIndex/bdd04f35-e3ce-42c3-abda-c13801abdb60.vsidx
.vs/SGFP/FileContentIndex/d2db0758-ea28-4a9e-af2a-1be2cc5c91b4.vsidx
.vs/SGFP/FileContentIndex/f872dcb7-47d3-4378-804d-1a8092ac62db.vsidx
.vs/SGFP/v17/.suo
CapaDatos/bin/Debug/CapaDatos.dll
CapaDatos/bin/Debug/CapaDatos.pdb
CapaDatos/bin/Debug/CapaEntidad.dll
CapaDatos/bin/Debug/CapaEntidad.pdb
CapaDatos/obj/Debug/CapaDatos.csproj.AssemblyReference.cache
CapaDatos/obj/Debug/CapaDatos.csproj.CoreCompileInputs.cache
CapaDatos/obj/Debug/CapaDatos.csproj.FileListAbsolute.txt
CapaDatos/obj/Debug/CapaDatos.dll
CapaDatos/obj/Debug/CapaDatos.pdb
CapaEntidad/bin/Debug/CapaEntidad.dll
CapaEntidad/bin/Debug/CapaEntidad.pdb
CapaEntidad/obj/Debug/CapaEntidad.csproj.CoreCompileInputs.cache
